# Python
venv/
*.pyc
__pycache__/
.pytest_cache/
.mypy_cache/

# Backend env
app/backend/.venv/
app/backend/.env
app/backend/build/

# Frontend
app/frontend/node_modules/
app/frontend/dist/
app/frontend/.env.local

# IDE / OS
.vscode/
.idea/
.DS_Store

# Frontend build cache
app/frontend/.vite/
